*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
brakeman.html
rails_best_practices_output.html
/public/assets/
/public/uploads/*
/public/source_maps/
/coverage
config/database.yml
config/newrelic.yml
config/deploy.rb
coverage
*.tmproj
*.sw?
*.cache
*.log
*.pid
